.button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
}

.loader {
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid black;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}