body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #004e92, #000428);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}